body{
    background-color: #05051e;
}

.card{
    width: 400px;
    margin-bottom: 16px;
    padding: 20px;
    background-color: midnightblue;


    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
    /* border:solid 1px #ff0000; */

}
.card:hover{ /*quando passar o nome sobre elementos marcado com classe card*/
    box-shadow: 4px 4px 24px #78C0E0 ;/*Gera uma sombra*/
}

.foto{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: scale-down;/* corta imagem sem distorce*/
}

.nome{
    font-size: 28px;
    font-weight: 800;

    color: #ffaa00;

    /* border: solid 1px #0000ff; */

}

.armazenamento{
    color: #449DD1;
    margin-left: 12px;
    font-size: 20px;
}

.ram{
    color: #449DD1;
    margin-left: 12px;
    font-size: 20px;
}

.processador{
    color: #449DD1;
    margin-left: 12px;
    font-size: 20px;
}

.tela{
    color: #449DD1;
    margin-left: 12px;
    font-size: 20px;
}

.bateria{
    color: #449DD1;
    margin-left: 12px;
    font-size: 20px;
}

.cor{
    color: #449DD1;
    margin-left: 12px;
    font-size: 20px;
}

.preco{
    font-size: 44px;
    font-weight: 700;
    text-align: right;
    color: dodgerblue;
    
    /* border: solid 1px #ffaa00; */
}